Package: emt.paisseon.erika
Name: Erika
Version: 1.12.0
Architecture: iphoneos-arm
Description: Piracy downloader for Sileo
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks (Piracy)
Depends: mobilesubstrate, lilliana.async | firmware (>= 15.0)
SileoDepiction: https://paisseon.github.io/depictions/Erika.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/Erika.json&name=Erika&dev=Paisseon
Icon: https://paisseon.github.io/icons/Erika.png
